= semantic_form_for [@aluno] do |form| 
  = form.input :nome, :label => 'Nome'
  = form.input :endereco, :label => 'Endereço'
  = form.input :bairro, :label => 'Bairro'
  = form.input :telefone, :label => 'Telefone'
  = form.input :email, :label => 'E-mail'
  = form.submit 'Salvar'
