<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @professor.nome %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @professor.endereco %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @professor.bairro %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @professor.telefone %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @professor.email %>
</p>

<p>
  <strong>Salário:</strong>
  <%= @professor.salario %>
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
