= semantic_form_for [@modalidade] do |form|
  = form.input :nome, :label => 'Nome'
  = form.input :caloriasPerdidas, :label => 'Calorias Perdidas'
  = form.input :valor, :as => :string,:label => 'Valor'
  = form.submit 'Salvar'
