<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @modalidade.nome %>
</p>

<p>
  <strong>Calorias Perdidas:</strong>
  <%= @modalidade.caloriasPerdidas %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @modalidade.valor %>
</p>

<%= link_to 'Edit', edit_modalidade_path(@modalidade) %> |
<%= link_to 'Back', modalidades_path %>
